//基础颜色
$backgroud: #fafafa;
$whitebc: #fafafa;

// 底色
$backgroud1: rgb(237,
    249,
    252);
$background2: rgb(209,
    244,
    250);
$background3: rgb(19,
    62,
    135);
$backgroud4: rgb(246,
    241,
    241);


$button-green: #c9dce9;
$button-black: #163f8f;


//点缀色
$one: #f0efdd;
$two: rgb(254,
    245,
    172);
$three: #5f8fc3;

$four: #163f8f;